@charset "utf-8";
/* CSS Document */
html
{
	scroll-behavior: smooth;
	overflow-x: hidden;
/*	overflow-y: hidden;*/
	
}


body
{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
img {
  animation: .1s ani infinite;
  filter: drop-shadow(2px 0 1px red) drop-shadow(-2px 0 1px cyan);
}
img:hover {
    animation-play-state: paused;
  }

@keyframes ani {
  to {
    filter: drop-shadow(-2px 0 1px red) drop-shadow(2px 0 1px cyan);
  }
}

.container
{
	width: 1900px;
	height: 4800px;
/*	background: #000000;*/
	background: #181818;
}

#page1
{
	width: 1900px;
	height: 960px;
	background: #F3787A;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.facer
{
	width: 100%;
	height: 960px;
	background-color: #181818;
	  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
	
}
.logo
{
	width: 100%;
	height: 960px;
/*	background-image: url("../images/4x/Artboard 20.png");*/
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
}
.logo img{
	
  animation: .1s ani infinite;
  filter: drop-shadow(2px 0 1px red) drop-shadow(-2px 0 1px cyan);
}
 .logo img:hover {
    animation-play-state: paused;
  }

@keyframes ani {
  to {
    filter: drop-shadow(-2px 0 1px red) drop-shadow(2px 0 1px cyan);
  }
}
#page2
{
	width: 100%;
	height: 960px;
/*	background-color: antiquewhite;*/
	  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.outerbox
{
	width: 50%;
	height: 960px;
	background-image: url("../images/oliver-dumoulin-LMGoXPFd6NY-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
}
.box1
{
	width: 500px;
	height: 500px;
/*	background-color: aquamarine;*/
/*	border: #33c996 solid 5px;*/
	background-image: url("../images/IMG_1880 fix.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 150%;
	margin: 100px;
}
.box1:hover
{
	border: solid #33c996  10px;
	transition: 0.3s;
}
h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

	color: rgba(255,255,255,1.00);
	font-size: 60px;
	text-decoration: underline;
}
h1:hover
{
	color: #33C996;
	transition: 0.3s;
		cursor: pointer;
}
p
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

	color: #FFFFFF;
	font-size: 20px;

}
p:hover
{
	color: #33C996;
	transition: 0.3s;
		cursor: pointer;
}
#page2 h2
{
	color: white;
	position: absolute;
	margin-top: -450px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 50px;
	
}
h2:hover
{
	color:#33C996;
	transition: 0.3s;
		cursor: pointer;
}
#page3
{
	width: 1900px;
	height: 960px;
/*	background-color: rgba(225,225,225,0.73);*/	
}
h3
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	top: -1;
	color: white;
	font-size: 40px;
	position: absolute;
	margin-top: 200px;
	margin-left: 800px;
}
h3:hover
{
	color:#33C996;
	transition: 0.3s;
	cursor: pointer;
}
.box2
{
	width: 100%;
	height: 100%;
	 display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}
.outer-icon{
	width: 30%;
	height: 70%;
/*	background-color: tomato;*/
	margin-left: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
}
.icon{
	width: 100%;
	height: 25%;
/*	background-color: red;*/
	margin-top: -39px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

}
#Ai
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
		display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

}
#Ai:hover
{
	border: solid 2px white;
	transition: 0.1s;
}
#Ai-percent
{
	width: 60%;
	height: 40px;
	border: #1BCF9A solid;
	border-radius: 50px;
	cursor: pointer;
}
.op1
{
	width: 60%;
	height: 40px;
	background-color: #3BFFC4;
	border-radius: 50px;
	opacity: 0;
	transition: all 1s linear;
}
.border-led:hover .op1 {
	opacity: 1;
	
	
}
#Ps
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
		display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#Ps:hover
{
	border: solid 2px white;
	transition: 0.1s;
}


#Lr
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
		display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#Lr:hover
{
	border: solid 2px white;
	transition: 0.1s;
}

#Pr
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
		display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#Pr:hover
{
	border: solid 2px white;
	transition: 0.1s;
}

#Ae
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
		display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#Ae:hover
{
	border: solid 2px white;
	transition: 0.1s;
}

#Au
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
		display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#Au:hover
{
	border: solid 2px white;
	transition: 0.1s;
}
#Fl
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
		display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#Fl:hover
{
	border: solid 2px white;
	transition: 0.1s;
}

#Cam
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
		display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#Cam:hover
{
	border: solid 2px white;
	transition: 0.1s;
}

#Art
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
		display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#Art:hover
{
	border: solid 2px white;
	transition: 0.1s;
}

#page4
{
	width: 100%;
	height: 960px;
	background-color: aquamarine;
}
#page5
{
	width: 100%;
	height: 960px;
	background-color: #181818;
	display: flex;
 	justify-content: center;
 	align-items: flex-end;
	 flex-direction: column;
}
.form
{
	width: 100%;
	height: 680px;
	text-align: center;
	margin-top: 200px;

	
}
#myBtn
{
	width: 150px;
	height: 50px;
	background: #288C6A;
	border: #33C996 solid 4px;
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#myInput
{
	width: 300px;
	height: 40px;
	border: none;
	background: none;
	border-bottom: #33C996 solid 4px;
	color: white;
}
p2
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-display: block;
	font-style: italic;
	font-size: 16px;
}

.footer
{
	width: 1900px;
	height: 460.5px;
	background-color: #33C996;
	  display: flex;
  justify-content: center;
  align-items: center;

}
.wrap-out
{
	width: 40%;
	height: 80%;
/*	background-color: aquamarine;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.small-menu
{
	width: 65%;
	height: 30%;
/*	background-color: azure;*/
	  display: flex;
  justify-content: center;
  align-items: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;
		border-bottom: solid white 2px;
	font-size: 10px
	
}
.contact-icon
{
	width: 30%;
	height: 30%;
/*	background-color: aqua;*/
	border-bottom: solid white 2px;
	  display: flex;
  justify-content: center;
  align-items: center;
	
}
.social-icon
{
	width: 80%;
	height: 30%;
/*	background-color: black;*/
	  display: flex;
  justify-content: center;
  align-items: center;
}
.trangchu
{
	width: 25%;
	height: 25%;
/*	background-color: antiquewhite;*/
	margin: 50px;
	text-align: center;
	text-decoration-color: white;
}
.lienhe
{
	width: 25%;
	height: 25%;
/*	background-color: antiquewhite;*/
	margin: 50px;
	text-align: center;
	text-decoration-color: white;
}
.porfolio
{
	width: 25%;
	height: 25%;
/*	background-color: antiquewhite;*/
	margin: 50px;
	text-align: center;
	text-decoration-color: white;
}
/*/small menu/*/
.dt
{
	width: 50px;
	height: 50px;
/*	background-color: antiquewhite;*/
	margin: 50px;
/*	border-radius: 50%;*/
}
.email
{
	width: 50px;
	height: 50px;
/*	background-color: antiquewhite;*/
	margin: 50px;
}
.address
{
	width: 50px;
	height: 50px;
/*	background-color: antiquewhite;*/
	margin: 50px;
}
/*contact icon*/
.fb
{
	width: 60px;
	height: 60px;
/*	background-color: antiquewhite;*/
	margin: 50px;
}
.insta
{
	width: 60px;
	height: 60px;
/*	background-color: antiquewhite;*/
	margin: 50px;
}
.behance
{
	width: 60px;
	height: 60px;
/*	background-color: antiquewhite;*/
	margin: 50px;
}
/*social media icon*/





















.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 1;
  background-color: rgb(51,204,153);
  background-color: rgba(51, 204, 153, 60%);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
	
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #181818;
  display: block;
  transition: 0.3s;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

}

.overlay a:hover, .overlay a:focus {
  color: #FFFFFF;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
	font-family: "iCiel Gotham Thin", "iCiel Gotham Ultra";
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.side{
	position: fixed;
	z-index: 1000000;
}




.border-led {
  text-align: center;
  cursor: pointer;
	width: 60%;
	height: 40px;
	border: #1BCF9A solid;
	border-radius: 50px;
}

.border-led:hover {
  animation: border-flicker 2s linear forwards;
}





@keyframes border-flicker {
  2% {
    border: 3px solid rgba(31,221,165,1.00);
    box-shadow: 0 0 15px -1px rgba(31,221,165,1.00), 
    0 0 12px -1px rgba(31,221,165,1.00) inset;
  }
  3% {
    border: 3px solid rgba(19,88,68,1.00);
    box-shadow: none;
  }
  5% {
    border: 3px solid rgba(31,221,165,1.00);
    box-shadow: 0 0 15px -1px rgba(31,221,165,1.00), 
    0 0 12px -1px rgba(31,221,165,1.00) inset;
  }
  6% {
    border: 3px solid rgba(19,88,68,1.00);
    box-shadow: none;
  }
  7% {
    border: 3px solid rgba(31,221,165,1.00);
    box-shadow: 0 0 15px -1px rgba(31,221,165,1.00), 
    0 0 12px -1px rgba(31,221,165,1.00) inset;
  }
  9% {
    border: 3px solid rgba(19,88,68,1.00);
    box-shadow: none;
  }
  13% {
    border: 3px solid rgba(31,221,165,1.00);
    box-shadow: 0 0 15px -1px rgba(31,221,165,1.00), 
    0 0 12px -1px rgba(31,221,165,1.00) inset;
  }
  16% {
    border: 3px solid rgba(19,88,68,1.00);
    box-shadow: none;
  }
  18% {
    border: 3px solid rgba(31,221,165,1.00);
    box-shadow: 0 0 15px -1px rgba(31,221,165,1.00), 
    0 0 12px -1px rgba(31,221,165,1.00) inset;
  }
  22% {
    border: 3px solid rgba(19,88,68,1.00);
    box-shadow: none;
  }
  34% {
    border: 3px solid rgba(31,221,165,1.00);
    box-shadow: 0 0 15px -1px rgba(31,221,165,1.00), 
    0 0 12px -1px rgba(31,221,165,1.00) inset;
  }
  36% {
    border: 3px solid rgba(19,88,68,1.00);
    box-shadow: none;
  }
  54% {
    border: 3px solid rgba(31,221,165,1.00);
    box-shadow: 0 0 15px -1px rgba(31,221,165,1.00), 
    0 0 12px -1px rgba(31,221,165,1.00) inset;
  }
  100% {
    border: 3px solid rgba(31,221,165,1.00);
    box-shadow: 0 0 15px -1px rgba(31,221,165,1.00), 
    0 0 12px -1px rgba(31,221,165,1.00) inset;
  }
}



.mySlides {
	display: none;
	width: auto;
	height: 900px;
/*	background-color: tomato;*/
	padding-left: 140px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
	
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}